section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    width: 280px;
}

.numero {
    background-color: black;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-top: 5px;
    color: white;
}

input {
    width: 210px;
    height: 44px;
    font-size: 40px;
}

.borrar {
    height: 50px;
}

.inputs {
    display: flex;
    align-items: center;
}